@font-face {
    src: url(Fonts/EduTASBeginner-VariableFont_wght.ttf);
    font-family: "EduTASBeginner";
}
body {
    margin: 0px;
    background-color: lightskyblue;
    font-family: "EduTASBeginner", cursive, serif;
}
#header {
    background-size: cover;
    background-image: url(img/manwalking.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
    text-align: center;
    color: black;
    margin: 0px;
}
h1 {
    margin: 0px;
    line-height: 500px;
}
#navigationmenu {
    display: grid;
    background-color: lightblue;
    justify-content: center;
    box-shadow: 0px 3px 5px black;
}
#navigationmenu li {
    display: flex;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
#navigationmenu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer{
    background-color: lightblue;
    text-align: center;
    color: black;
    height: 20px;
    line-height: 20px;
}
